$mc = #222c38 // 主色
$hmc = #2a3644// hover主色
$subMc = #f59d24// 辅助色
$tsubMc = #fef5e9// 浅辅助色
$tmc = #9aabc0 // 浅主色
$dtc = #333 // 深色文字
$ttc = #999 // 深色文字

$success = #67C23A
$danger = #F56C6C
$blue = #409EFF